<div class="sp-temporary-element x-grid-col" x-scroll="y" x-size="wr15">

    <div class="x-flex" x-fs="xs" x-pd="lg" direction="col" x-size="h100">
        <h6 x-color="#sat-1">EDITER</h6>
        <hr x-color="|light-o-5" x-mg="sm-y" />
        <div class="x-grid" split="h-min-auto" x-gap="2xs">
            <div class="x-grid-col" sort="v-center">
                폰트사이즈
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <input type="number" class="pickr-range" min="9" max="32" step="1" x-pd="xs" x-fs="md" data-variable="--font-size" data-tails="px" />
            </div>
            <div class="x-grid-col" sort="v-center" x-size="wr05">
                메인 컬러
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="primary"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                폰트색
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--color-text"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                버튼 폰트색 - 기본
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--button-front"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                버튼 폰트색 - 반전
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--button-back"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                링크색
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--color-link"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                배경색
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--color-background"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                가장 밝은색
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--color-white"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                가장 어두운색
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="--color-black"></span>
            </div>
            <div class="x-grid-col" sort="v-center">
                투명도 반전
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <input type="range" class="pickr-range" min="-100" max="100" step="1" data-variable="--reverse" data-tails="%" />
            </div>
            <div class="x-grid-col" sort="v-center">
                투명도 배율
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <input type="range" class="pickr-range" min="0.0" max="1.0" step="0.1" data-variable="--opacity" />
            </div>
            <div class="x-grid-col" sort="v-center">
                스크롤바
            </div>
            <div class="x-grid-col" sort="v-center" x-talign="end">
                <span class="pickr-container" data-variable="scrollbar"></span>
            </div>
        </div>
        <br />
        <h6 x-color="#sat-1">:ROOT CODE</h6>
        <hr x-color="|light-o-5" x-mg="sm-y" />
        <textarea class="sp-variable-data" x-fs="2xs" x-color="dark-o-3#prev-5|light-o-3" x-size="w100-hr10" x-pd="md" flex="1"></textarea>
    </div>

</div>