<main>
    <header line="0-b">
        <a href="/" class="btn" pd="t6" w="100" h="100" gap="5" font="9-bold">
            <i class="ph-gitlab-logo"></i> SPSTRAP
            <small font="1">V2.0</small>
        </a>
    </header>
    <section line="0-b">
        <div class="flex" w="100" h="100" sort="v-center">
            <div class="flex" flex="1">
                <a href="/" class="btn" pd="t6" gap="5">
                    <i class="ph-user"></i> Menu
                </a>
                <a href="/" class="btn" pd="t6" gap="5">
                    <i class="ph-gear-six"></i> Menu
                </a>
                <a href="/" class="btn" pd="t6" gap="5">
                    <i class="ph-activity"></i> Menu
                </a>
            </div>
            <div class="flex" flex="0" gap="9" pd="6-x">
                <a href="/" class="btn" gap="5">
                    <i class="ph-magnifying-glass"></i> Menu
                </a>
                <a href="/" class="btn" gap="5">
                    <i class="ph-moon"></i> Menu
                </a>
                <small class="flex" sort="v-center" pd="5-x">
                    |
                </small>
                <a href="/" class="btn" gap="5" font="x1">
                    <i class="ph-git-branch"></i>
                </a>
                <a href="/" class="btn" gap="5" font="x1">
                    <i class="ph-github-logo"></i>
                </a>
            </div>
        </div>
    </section>
    <aside line="0-r">
        <?php
            require $_SERVER["DOCUMENT_ROOT"].'/inc/layout/menu.html';
        ?>
    </aside>
    <div class="sp-code-nav" line="0-r"></div>