<!DOCTYPE html>
<html lang="ko-KR" class="sp-html">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no"/>
    <title>SPSTRAP2 Document API</title>

    <!-- Library -->
    <script defer src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Base Code -->
    <script defer type="module" src="/src/script/base.js"></script>
    <link rel="stylesheet" href="/src/css/base.css">

    <!-- Spstrap v2 -->
    <script defer type="module" src="/spstrap/script/spstrap.js"></script>
    <link rel="stylesheet" href="/spstrap/css/spstrap.css">

</head>
<body class="sp-body">