@charset "UTF-8";

/*
** base
**/
html {
    font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.00), var(--clamp-ratio), calc(var(--font-size) * 1.00));
}
body, html {
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: var(--line-height);
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/*
** link
*/
a:not([x-color]), a:not([x-color]):visited {
    color: var(--color-link);
}
a:hover,
a:active,
a:visited {
    opacity: .9;
}

/* Scrollbar */
* {
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: var(--scrollbar) var(--color-background);
}
*::-webkit-scrollbar {
    width: var(--font-size); /* Chrome, Edge, and Safari */
}
*::-webkit-scrollbar-track {
    background: var(--color-background);
}
*::-webkit-scrollbar-thumb {
    border-radius: var(--font-size);
    border: calc(var(--font-size) * .3) solid var(--color-background);
    background-color: hsla(var(--scrollbar-hue), var(--scrollbar-saturation), var(--scrollbar-lightness), var(--scrollbar-alpha));
}
*::-webkit-scrollbar-thumb:hover {
    background-color: hsla(var(--scrollbar-hue), var(--scrollbar-saturation), calc(var(--scrollbar-lightness) + 5%), var(--scrollbar-alpha));
}
*::-webkit-scrollbar-thumb:active {
    /*border: calc(var(--font-size) * .32) solid var(--color-background);*/
    background-color: hsla(var(--scrollbar-hue), var(--scrollbar-saturation), calc(var(--scrollbar-lightness) - 5%), var(--scrollbar-alpha));
}