@charset "UTF-8";

/*
** 폰트
*/
h1 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 3.00), var(--clamp-ratio), calc(var(--font-size) * 3.00)); }
h2 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 2.50), var(--clamp-ratio), calc(var(--font-size) * 2.50)); }
h3 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 2.00), var(--clamp-ratio), calc(var(--font-size) * 2.00)); }
h4 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.75), var(--clamp-ratio), calc(var(--font-size) * 1.75)); }
h5 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.50), var(--clamp-ratio), calc(var(--font-size) * 1.50)); }
h6 { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.25), var(--clamp-ratio), calc(var(--font-size) * 1.25)); }

/*
** 폰트 사이즈
*/
[x-fs="3xs"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 0.60), var(--clamp-ratio), calc(var(--font-size) * 0.60)); }
[x-fs="2xs"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 0.70), var(--clamp-ratio), calc(var(--font-size) * 0.70)); }
[x-fs="xs"]  { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 0.80), var(--clamp-ratio), calc(var(--font-size) * 0.80)); }
[x-fs="sm"]  { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 0.90), var(--clamp-ratio), calc(var(--font-size) * 0.90)); }
[x-fs="md"]  { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.00), var(--clamp-ratio), calc(var(--font-size) * 1.00)); }
[x-fs="lg"]  { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.10), var(--clamp-ratio), calc(var(--font-size) * 1.10)); }
[x-fs="xl"]  { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.20), var(--clamp-ratio), calc(var(--font-size) * 1.20)); }
[x-fs="2xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.30), var(--clamp-ratio), calc(var(--font-size) * 1.30)); }
[x-fs="3xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.40), var(--clamp-ratio), calc(var(--font-size) * 1.40)); }
[x-fs="4xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.50), var(--clamp-ratio), calc(var(--font-size) * 1.50)); }
[x-fs="5xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 1.75), var(--clamp-ratio), calc(var(--font-size) * 1.75)); }
[x-fs="6xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 2.00), var(--clamp-ratio), calc(var(--font-size) * 2.00)); }
[x-fs="7xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 2.25), var(--clamp-ratio), calc(var(--font-size) * 2.25)); }
[x-fs="8xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 2.50), var(--clamp-ratio), calc(var(--font-size) * 2.50)); }
[x-fs="9xl"] { font-size: clamp(calc(var(--font-size) * var(--clamp-zoom) * 3.00), var(--clamp-ratio), calc(var(--font-size) * 3.00)); }

/*
** 갭
*/
[x-gap="3xs"] { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-3xs)); }
[x-gap="2xs"] { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-2xs)); }
[x-gap="xs"]  { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-xs)); }
[x-gap="sm"]  { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-sm)); }
[x-gap="md"]  { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-md)); }
[x-gap="lg"]  { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-lg)); }
[x-gap="xl"]  { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-xl)); }
[x-gap="2xl"] { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-2xl)); }
[x-gap="3xl"] { gap: calc(var(--gap) * var(--clamp-zoom) * var(--zoom-3xl)); }

/*
** 브레이크
*/
[x-break="all"] { word-break: break-all; }
[x-break="keep"] { word-break: keep-all; }

/*
** 자간
*/
[x-space="3xs"] { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xs)); }
[x-space="2xs"] { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xs)); }
[x-space="xs"]  { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xs)); }
[x-space="sm"]  { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-sm)); }
[x-space="md"]  { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-md)); }
[x-space="lg"]  { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-lg)); }
[x-space="xl"]  { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xl)); }
[x-space="2xl"] { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xl)); }
[x-space="3xl"] { letter-spacing: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xl)); }

/*
** 화면 넘침
*/
[x-wrap="hidden"] { overflow: hidden; }
[x-wrap="nowrap"] { overflow: hidden; white-space: nowrap; }

/*
** 텍스트 줄임
*/
[x-ellipsis="1"] { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
[x-ellipsis]:not([x-ellipsis="1"]) {
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
[x-ellipsis="2"]  { -webkit-line-clamp: 2; }
[x-ellipsis="3"]  { -webkit-line-clamp: 3; }
[x-ellipsis="4"]  { -webkit-line-clamp: 4; }
[x-ellipsis="5"]  { -webkit-line-clamp: 5; }
[x-ellipsis="6"]  { -webkit-line-clamp: 6; }
[x-ellipsis="7"]  { -webkit-line-clamp: 7; }
[x-ellipsis="8"]  { -webkit-line-clamp: 8; }
[x-ellipsis="9"]  { -webkit-line-clamp: 9; }
[x-ellipsis="10"] { -webkit-line-clamp: 10; }

/*
** 패딩
*/
[x-pd^="3xs"] { padding: clamp(calc(var(--gap) * var(--zoom-3xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xs))); }
[x-pd^="2xs"] { padding: clamp(calc(var(--gap) * var(--zoom-2xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xs))); }
[x-pd^="xs"]  { padding: clamp(calc(var(--gap) * var(--zoom-xs)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xs))); }
[x-pd^="sm"]  { padding: clamp(calc(var(--gap) * var(--zoom-sm)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-sm))); }
[x-pd^="md"]  { padding: clamp(calc(var(--gap) * var(--zoom-md)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-md))); }
[x-pd^="lg"]  { padding: clamp(calc(var(--gap) * var(--zoom-lg)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-lg))); }
[x-pd^="xl"]  { padding: clamp(calc(var(--gap) * var(--zoom-xl)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xl))); }
[x-pd^="2xl"] { padding: clamp(calc(var(--gap) * var(--zoom-2xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xl))); }
[x-pd^="3xl"] { padding: clamp(calc(var(--gap) * var(--zoom-3xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xl))); }
[x-pd$="-x"] { padding-top: 0; padding-bottom: 0; }
[x-pd$="-y"] { padding-left: 0; padding-right: 0; }

/*
** 마진
*/
[x-mg^="3xs"] { margin: clamp(calc(var(--gap) * var(--zoom-3xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xs))); }
[x-mg^="2xs"] { margin: clamp(calc(var(--gap) * var(--zoom-2xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xs))); }
[x-mg^="xs"]  { margin: clamp(calc(var(--gap) * var(--zoom-xs)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xs))); }
[x-mg^="sm"]  { margin: clamp(calc(var(--gap) * var(--zoom-sm)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-sm))); }
[x-mg^="md"]  { margin: clamp(calc(var(--gap) * var(--zoom-md)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-md))); }
[x-mg^="lg"]  { margin: clamp(calc(var(--gap) * var(--zoom-lg)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-lg))); }
[x-mg^="xl"]  { margin: clamp(calc(var(--gap) * var(--zoom-xl)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xl))); }
[x-mg^="2xl"] { margin: clamp(calc(var(--gap) * var(--zoom-2xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xl))); }
[x-mg^="3xl"] { margin: clamp(calc(var(--gap) * var(--zoom-3xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xl))); }
[x-mg$="-x"] { margin-top: 0; margin-bottom: 0; }
[x-mg$="-y"] { margin-left: 0; margin-right: 0; }

/*
** 텍스트 패딩
*/
[x-tpd="3xs"] { padding: clamp(calc(var(--gap) * var(--zoom-3xs) * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-3xs) * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-3xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xs))); }
[x-tpd="2xs"] { padding: clamp(calc(var(--gap) * var(--zoom-2xs) * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-2xs) * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-2xs) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xs))); }
[x-tpd="xs"]  { padding: clamp(calc(var(--gap) * var(--zoom-xs)  * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-xs)  * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-xs)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xs))); }
[x-tpd="sm"]  { padding: clamp(calc(var(--gap) * var(--zoom-sm)  * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-sm)  * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-sm)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-sm))); }
[x-tpd="md"]  { padding: clamp(calc(var(--gap) * var(--zoom-md)  * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-md)  * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-md)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-md))); }
[x-tpd="lg"]  { padding: clamp(calc(var(--gap) * var(--zoom-lg)  * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-lg)  * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-lg)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-lg))); }
[x-tpd="xl"]  { padding: clamp(calc(var(--gap) * var(--zoom-xl)  * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-xl)  * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-xl)  * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-xl))); }
[x-tpd="2xl"] { padding: clamp(calc(var(--gap) * var(--zoom-2xl) * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-2xl) * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-2xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-2xl))); }
[x-tpd="3xl"] { padding: clamp(calc(var(--gap) * var(--zoom-3xl) * var(--clamp-zoom) * var(--ratio)), calc(var(--clamp-ratio) * .5), calc(var(--gap) * var(--zoom-3xl) * var(--ratio))) clamp(calc(var(--gap) * var(--zoom-3xl) * var(--clamp-zoom)), var(--clamp-ratio), calc(var(--gap) * var(--zoom-3xl))); }

/*
** 백그라운드
*/
[x-color^="base"] { background-color: var(--color-primary); }
[x-color^="wht"] { background-color: var(--color-white); }
[x-color^="blk"] { background-color: var(--color-black); }

[x-color^="prev-0"] { background-color: var(--color-prev-0); }
[x-color^="prev-1"] { background-color: var(--color-prev-1); }
[x-color^="prev-2"] { background-color: var(--color-prev-2); }
[x-color^="prev-3"] { background-color: var(--color-prev-3); }
[x-color^="prev-4"] { background-color: var(--color-prev-4); }
[x-color^="prev-5"] { background-color: var(--color-prev-5); }
[x-color^="prev-6"] { background-color: var(--color-prev-6); }
[x-color^="prev-7"] { background-color: var(--color-prev-7); }
[x-color^="prev-8"] { background-color: var(--color-prev-8); }
[x-color^="prev-9"] { background-color: var(--color-prev-9); }
[x-color^="next-0"] { background-color: var(--color-next-0); }
[x-color^="next-1"] { background-color: var(--color-next-1); }
[x-color^="next-2"] { background-color: var(--color-next-2); }
[x-color^="next-3"] { background-color: var(--color-next-3); }
[x-color^="next-4"] { background-color: var(--color-next-4); }
[x-color^="next-5"] { background-color: var(--color-next-5); }
[x-color^="next-6"] { background-color: var(--color-next-6); }
[x-color^="next-7"] { background-color: var(--color-next-7); }
[x-color^="next-8"] { background-color: var(--color-next-8); }
[x-color^="next-9"] { background-color: var(--color-next-9); }

[x-color^="sat-1"] { background-color: var(--color-sat-1); }
[x-color^="sat-2"] { background-color: var(--color-sat-2); }
[x-color^="sat-3"] { background-color: var(--color-sat-3); }
[x-color^="sat-4"] { background-color: var(--color-sat-4); }
[x-color^="sat-5"] { background-color: var(--color-sat-5); }
[x-color^="sat-6"] { background-color: var(--color-sat-6); }
[x-color^="sat-7"] { background-color: var(--color-sat-7); }
[x-color^="sat-8"] { background-color: var(--color-sat-8); }
[x-color^="sat-9"] { background-color: var(--color-sat-9); }
[x-color^="neg-1"] { background-color: var(--color-neg-1); }
[x-color^="neg-2"] { background-color: var(--color-neg-2); }
[x-color^="neg-3"] { background-color: var(--color-neg-3); }
[x-color^="neg-4"] { background-color: var(--color-neg-4); }
[x-color^="neg-5"] { background-color: var(--color-neg-5); }
[x-color^="neg-6"] { background-color: var(--color-neg-6); }
[x-color^="neg-7"] { background-color: var(--color-neg-7); }
[x-color^="neg-8"] { background-color: var(--color-neg-8); }
[x-color^="neg-9"] { background-color: var(--color-neg-9); }
[x-color^="pos-1"] { background-color: var(--color-pos-1); }
[x-color^="pos-2"] { background-color: var(--color-pos-2); }
[x-color^="pos-3"] { background-color: var(--color-pos-3); }
[x-color^="pos-4"] { background-color: var(--color-pos-4); }
[x-color^="pos-5"] { background-color: var(--color-pos-5); }
[x-color^="pos-6"] { background-color: var(--color-pos-6); }
[x-color^="pos-7"] { background-color: var(--color-pos-7); }
[x-color^="pos-8"] { background-color: var(--color-pos-8); }
[x-color^="pos-9"] { background-color: var(--color-pos-9); }
[x-color^="alpha-1"] { background-color: var(--color-alpha-1); }
[x-color^="alpha-2"] { background-color: var(--color-alpha-2); }
[x-color^="alpha-3"] { background-color: var(--color-alpha-3); }
[x-color^="alpha-4"] { background-color: var(--color-alpha-4); }
[x-color^="alpha-5"] { background-color: var(--color-alpha-5); }
[x-color^="alpha-6"] { background-color: var(--color-alpha-6); }
[x-color^="alpha-7"] { background-color: var(--color-alpha-7); }
[x-color^="alpha-8"] { background-color: var(--color-alpha-8); }
[x-color^="alpha-9"] { background-color: var(--color-alpha-9); }
[x-color^="light-1"] { background-color: var(--color-light-1); }
[x-color^="light-2"] { background-color: var(--color-light-2); }
[x-color^="light-3"] { background-color: var(--color-light-3); }
[x-color^="light-4"] { background-color: var(--color-light-4); }
[x-color^="light-5"] { background-color: var(--color-light-5); }
[x-color^="light-6"] { background-color: var(--color-light-6); }
[x-color^="light-7"] { background-color: var(--color-light-7); }
[x-color^="light-8"] { background-color: var(--color-light-8); }
[x-color^="light-9"] { background-color: var(--color-light-9); }
[x-color^="dark-1"] { background-color: var(--color-dark-1); }
[x-color^="dark-2"] { background-color: var(--color-dark-2); }
[x-color^="dark-3"] { background-color: var(--color-dark-3); }
[x-color^="dark-4"] { background-color: var(--color-dark-4); }
[x-color^="dark-5"] { background-color: var(--color-dark-5); }
[x-color^="dark-6"] { background-color: var(--color-dark-6); }
[x-color^="dark-7"] { background-color: var(--color-dark-7); }
[x-color^="dark-8"] { background-color: var(--color-dark-8); }
[x-color^="dark-9"] { background-color: var(--color-dark-9); }
[x-color^="light-o-1"] { background-color: var(--color-light-o-1); }
[x-color^="light-o-2"] { background-color: var(--color-light-o-2); }
[x-color^="light-o-3"] { background-color: var(--color-light-o-3); }
[x-color^="light-o-4"] { background-color: var(--color-light-o-4); }
[x-color^="light-o-5"] { background-color: var(--color-light-o-5); }
[x-color^="light-o-6"] { background-color: var(--color-light-o-6); }
[x-color^="light-o-7"] { background-color: var(--color-light-o-7); }
[x-color^="light-o-8"] { background-color: var(--color-light-o-8); }
[x-color^="light-o-9"] { background-color: var(--color-light-o-9); }
[x-color^="dark-o-1"] { background-color: var(--color-dark-o-1); }
[x-color^="dark-o-2"] { background-color: var(--color-dark-o-2); }
[x-color^="dark-o-3"] { background-color: var(--color-dark-o-3); }
[x-color^="dark-o-4"] { background-color: var(--color-dark-o-4); }
[x-color^="dark-o-5"] { background-color: var(--color-dark-o-5); }
[x-color^="dark-o-6"] { background-color: var(--color-dark-o-6); }
[x-color^="dark-o-7"] { background-color: var(--color-dark-o-7); }
[x-color^="dark-o-8"] { background-color: var(--color-dark-o-8); }
[x-color^="dark-o-9"] { background-color: var(--color-dark-o-9); }

/*
** 박스필터
*/
[x-color$="-a"] { filter: hue-rotate(13.8460deg); }
[x-color$="-b"] { filter: hue-rotate(27.6920deg); }
[x-color$="-c"] { filter: hue-rotate(41.5380deg); }
[x-color$="-d"] { filter: hue-rotate(55.3840deg); }
[x-color$="-e"] { filter: hue-rotate(69.2300deg); }
[x-color$="-f"] { filter: hue-rotate(83.0760deg); }
[x-color$="-g"] { filter: hue-rotate(96.9220deg); }
[x-color$="-h"] { filter: hue-rotate(110.768deg); }
[x-color$="-i"] { filter: hue-rotate(124.614deg); }
[x-color$="-j"] { filter: hue-rotate(138.460deg); }
[x-color$="-k"] { filter: hue-rotate(152.306deg); }
[x-color$="-l"] { filter: hue-rotate(166.152deg); }
[x-color$="-m"] { filter: hue-rotate(179.998deg); }
[x-color$="-n"] { filter: hue-rotate(193.844deg); }
[x-color$="-o"] { filter: hue-rotate(207.690deg); }
[x-color$="-p"] { filter: hue-rotate(221.536deg); }
[x-color$="-q"] { filter: hue-rotate(235.382deg); }
[x-color$="-r"] { filter: hue-rotate(249.228deg); }
[x-color$="-s"] { filter: hue-rotate(263.074deg); }
[x-color$="-t"] { filter: hue-rotate(276.920deg); }
[x-color$="-u"] { filter: hue-rotate(290.766deg); }
[x-color$="-v"] { filter: hue-rotate(304.612deg); }
[x-color$="-w"] { filter: hue-rotate(318.458deg); }
[x-color$="-x"] { filter: hue-rotate(332.304deg); }
[x-color$="-y"] { filter: hue-rotate(346.150deg); }
[x-color$="-z"] { filter: hue-rotate(360.000deg); }

/*
** 보더
*/
[x-color*="|base"] { border-color: var(--color-primary); }
[x-color*="|wht"] { border-color: var(--color-white); }
[x-color*="|blk"] { border-color: var(--color-black); }

[x-color*="|prev-0"] { border-color: var(--color-prev-0); }
[x-color*="|prev-1"] { border-color: var(--color-prev-1); }
[x-color*="|prev-2"] { border-color: var(--color-prev-2); }
[x-color*="|prev-3"] { border-color: var(--color-prev-3); }
[x-color*="|prev-4"] { border-color: var(--color-prev-4); }
[x-color*="|prev-5"] { border-color: var(--color-prev-5); }
[x-color*="|prev-6"] { border-color: var(--color-prev-6); }
[x-color*="|prev-7"] { border-color: var(--color-prev-7); }
[x-color*="|prev-8"] { border-color: var(--color-prev-8); }
[x-color*="|prev-9"] { border-color: var(--color-prev-9); }
[x-color*="|next-0"] { border-color: var(--color-next-0); }
[x-color*="|next-1"] { border-color: var(--color-next-1); }
[x-color*="|next-2"] { border-color: var(--color-next-2); }
[x-color*="|next-3"] { border-color: var(--color-next-3); }
[x-color*="|next-4"] { border-color: var(--color-next-4); }
[x-color*="|next-5"] { border-color: var(--color-next-5); }
[x-color*="|next-6"] { border-color: var(--color-next-6); }
[x-color*="|next-7"] { border-color: var(--color-next-7); }
[x-color*="|next-8"] { border-color: var(--color-next-8); }
[x-color*="|next-9"] { border-color: var(--color-next-9); }

[x-color*="|sat-1"] { border-color: var(--color-sat-1); }
[x-color*="|sat-2"] { border-color: var(--color-sat-2); }
[x-color*="|sat-3"] { border-color: var(--color-sat-3); }
[x-color*="|sat-4"] { border-color: var(--color-sat-4); }
[x-color*="|sat-5"] { border-color: var(--color-sat-5); }
[x-color*="|sat-6"] { border-color: var(--color-sat-6); }
[x-color*="|sat-7"] { border-color: var(--color-sat-7); }
[x-color*="|sat-8"] { border-color: var(--color-sat-8); }
[x-color*="|sat-9"] { border-color: var(--color-sat-9); }
[x-color*="|neg-1"] { border-color: var(--color-neg-1); }
[x-color*="|neg-2"] { border-color: var(--color-neg-2); }
[x-color*="|neg-3"] { border-color: var(--color-neg-3); }
[x-color*="|neg-4"] { border-color: var(--color-neg-4); }
[x-color*="|neg-5"] { border-color: var(--color-neg-5); }
[x-color*="|neg-6"] { border-color: var(--color-neg-6); }
[x-color*="|neg-7"] { border-color: var(--color-neg-7); }
[x-color*="|neg-8"] { border-color: var(--color-neg-8); }
[x-color*="|neg-9"] { border-color: var(--color-neg-9); }
[x-color*="|pos-1"] { border-color: var(--color-pos-1); }
[x-color*="|pos-2"] { border-color: var(--color-pos-2); }
[x-color*="|pos-3"] { border-color: var(--color-pos-3); }
[x-color*="|pos-4"] { border-color: var(--color-pos-4); }
[x-color*="|pos-5"] { border-color: var(--color-pos-5); }
[x-color*="|pos-6"] { border-color: var(--color-pos-6); }
[x-color*="|pos-7"] { border-color: var(--color-pos-7); }
[x-color*="|pos-8"] { border-color: var(--color-pos-8); }
[x-color*="|pos-9"] { border-color: var(--color-pos-9); }
[x-color*="|alpha-1"] { border-color: var(--color-alpha-1); }
[x-color*="|alpha-2"] { border-color: var(--color-alpha-2); }
[x-color*="|alpha-3"] { border-color: var(--color-alpha-3); }
[x-color*="|alpha-4"] { border-color: var(--color-alpha-4); }
[x-color*="|alpha-5"] { border-color: var(--color-alpha-5); }
[x-color*="|alpha-6"] { border-color: var(--color-alpha-6); }
[x-color*="|alpha-7"] { border-color: var(--color-alpha-7); }
[x-color*="|alpha-8"] { border-color: var(--color-alpha-8); }
[x-color*="|alpha-9"] { border-color: var(--color-alpha-9); }
[x-color*="|light-1"] { border-color: var(--color-light-1); }
[x-color*="|light-2"] { border-color: var(--color-light-2); }
[x-color*="|light-3"] { border-color: var(--color-light-3); }
[x-color*="|light-4"] { border-color: var(--color-light-4); }
[x-color*="|light-5"] { border-color: var(--color-light-5); }
[x-color*="|light-6"] { border-color: var(--color-light-6); }
[x-color*="|light-7"] { border-color: var(--color-light-7); }
[x-color*="|light-8"] { border-color: var(--color-light-8); }
[x-color*="|light-9"] { border-color: var(--color-light-9); }
[x-color*="|dark-1"] { border-color: var(--color-dark-1); }
[x-color*="|dark-2"] { border-color: var(--color-dark-2); }
[x-color*="|dark-3"] { border-color: var(--color-dark-3); }
[x-color*="|dark-4"] { border-color: var(--color-dark-4); }
[x-color*="|dark-5"] { border-color: var(--color-dark-5); }
[x-color*="|dark-6"] { border-color: var(--color-dark-6); }
[x-color*="|dark-7"] { border-color: var(--color-dark-7); }
[x-color*="|dark-8"] { border-color: var(--color-dark-8); }
[x-color*="|dark-9"] { border-color: var(--color-dark-9); }
[x-color*="|light-o-1"] { border-color: var(--color-light-o-1); }
[x-color*="|light-o-2"] { border-color: var(--color-light-o-2); }
[x-color*="|light-o-3"] { border-color: var(--color-light-o-3); }
[x-color*="|light-o-4"] { border-color: var(--color-light-o-4); }
[x-color*="|light-o-5"] { border-color: var(--color-light-o-5); }
[x-color*="|light-o-6"] { border-color: var(--color-light-o-6); }
[x-color*="|light-o-7"] { border-color: var(--color-light-o-7); }
[x-color*="|light-o-8"] { border-color: var(--color-light-o-8); }
[x-color*="|light-o-9"] { border-color: var(--color-light-o-9); }
[x-color*="|dark-o-1"] { border-color: var(--color-dark-o-1); }
[x-color*="|dark-o-2"] { border-color: var(--color-dark-o-2); }
[x-color*="|dark-o-3"] { border-color: var(--color-dark-o-3); }
[x-color*="|dark-o-4"] { border-color: var(--color-dark-o-4); }
[x-color*="|dark-o-5"] { border-color: var(--color-dark-o-5); }
[x-color*="|dark-o-6"] { border-color: var(--color-dark-o-6); }
[x-color*="|dark-o-7"] { border-color: var(--color-dark-o-7); }
[x-color*="|dark-o-8"] { border-color: var(--color-dark-o-8); }
[x-color*="|dark-o-9"] { border-color: var(--color-dark-o-9); }

/*
** 폰트색
*/
[x-color*="#base"] { color: var(--color-primary); }
[x-color*="#wht"] { color: var(--color-white); }
[x-color*="#blk"] { color: var(--color-black); }

[x-color*="#prev-0"] { color: var(--color-prev-0); }
[x-color*="#prev-1"] { color: var(--color-prev-1); }
[x-color*="#prev-2"] { color: var(--color-prev-2); }
[x-color*="#prev-3"] { color: var(--color-prev-3); }
[x-color*="#prev-4"] { color: var(--color-prev-4); }
[x-color*="#prev-5"] { color: var(--color-prev-5); }
[x-color*="#prev-6"] { color: var(--color-prev-6); }
[x-color*="#prev-7"] { color: var(--color-prev-7); }
[x-color*="#prev-8"] { color: var(--color-prev-8); }
[x-color*="#prev-9"] { color: var(--color-prev-9); }
[x-color*="#next-0"] { color: var(--color-next-0); }
[x-color*="#next-1"] { color: var(--color-next-1); }
[x-color*="#next-2"] { color: var(--color-next-2); }
[x-color*="#next-3"] { color: var(--color-next-3); }
[x-color*="#next-4"] { color: var(--color-next-4); }
[x-color*="#next-5"] { color: var(--color-next-5); }
[x-color*="#next-6"] { color: var(--color-next-6); }
[x-color*="#next-7"] { color: var(--color-next-7); }
[x-color*="#next-8"] { color: var(--color-next-8); }
[x-color*="#next-9"] { color: var(--color-next-9); }

[x-color*="#sat-1"] { color: var(--color-sat-1); }
[x-color*="#sat-2"] { color: var(--color-sat-2); }
[x-color*="#sat-3"] { color: var(--color-sat-3); }
[x-color*="#sat-4"] { color: var(--color-sat-4); }
[x-color*="#sat-5"] { color: var(--color-sat-5); }
[x-color*="#sat-6"] { color: var(--color-sat-6); }
[x-color*="#sat-7"] { color: var(--color-sat-7); }
[x-color*="#sat-8"] { color: var(--color-sat-8); }
[x-color*="#sat-9"] { color: var(--color-sat-9); }
[x-color*="#neg-1"] { color: var(--color-neg-1); }
[x-color*="#neg-2"] { color: var(--color-neg-2); }
[x-color*="#neg-3"] { color: var(--color-neg-3); }
[x-color*="#neg-4"] { color: var(--color-neg-4); }
[x-color*="#neg-5"] { color: var(--color-neg-5); }
[x-color*="#neg-6"] { color: var(--color-neg-6); }
[x-color*="#neg-7"] { color: var(--color-neg-7); }
[x-color*="#neg-8"] { color: var(--color-neg-8); }
[x-color*="#neg-9"] { color: var(--color-neg-9); }
[x-color*="#pos-1"] { color: var(--color-pos-1); }
[x-color*="#pos-2"] { color: var(--color-pos-2); }
[x-color*="#pos-3"] { color: var(--color-pos-3); }
[x-color*="#pos-4"] { color: var(--color-pos-4); }
[x-color*="#pos-5"] { color: var(--color-pos-5); }
[x-color*="#pos-6"] { color: var(--color-pos-6); }
[x-color*="#pos-7"] { color: var(--color-pos-7); }
[x-color*="#pos-8"] { color: var(--color-pos-8); }
[x-color*="#pos-9"] { color: var(--color-pos-9); }
[x-color*="#alpha-1"] { color: var(--color-alpha-1); }
[x-color*="#alpha-2"] { color: var(--color-alpha-2); }
[x-color*="#alpha-3"] { color: var(--color-alpha-3); }
[x-color*="#alpha-4"] { color: var(--color-alpha-4); }
[x-color*="#alpha-5"] { color: var(--color-alpha-5); }
[x-color*="#alpha-6"] { color: var(--color-alpha-6); }
[x-color*="#alpha-7"] { color: var(--color-alpha-7); }
[x-color*="#alpha-8"] { color: var(--color-alpha-8); }
[x-color*="#alpha-9"] { color: var(--color-alpha-9); }
[x-color*="#light-1"] { color: var(--color-light-1); }
[x-color*="#light-2"] { color: var(--color-light-2); }
[x-color*="#light-3"] { color: var(--color-light-3); }
[x-color*="#light-4"] { color: var(--color-light-4); }
[x-color*="#light-5"] { color: var(--color-light-5); }
[x-color*="#light-6"] { color: var(--color-light-6); }
[x-color*="#light-7"] { color: var(--color-light-7); }
[x-color*="#light-8"] { color: var(--color-light-8); }
[x-color*="#light-9"] { color: var(--color-light-9); }
[x-color*="#dark-1"] { color: var(--color-dark-1); }
[x-color*="#dark-2"] { color: var(--color-dark-2); }
[x-color*="#dark-3"] { color: var(--color-dark-3); }
[x-color*="#dark-4"] { color: var(--color-dark-4); }
[x-color*="#dark-5"] { color: var(--color-dark-5); }
[x-color*="#dark-6"] { color: var(--color-dark-6); }
[x-color*="#dark-7"] { color: var(--color-dark-7); }
[x-color*="#dark-8"] { color: var(--color-dark-8); }
[x-color*="#dark-9"] { color: var(--color-dark-9); }
[x-color*="#light-o-1"] { color: var(--color-light-o-1); }
[x-color*="#light-o-2"] { color: var(--color-light-o-2); }
[x-color*="#light-o-3"] { color: var(--color-light-o-3); }
[x-color*="#light-o-4"] { color: var(--color-light-o-4); }
[x-color*="#light-o-5"] { color: var(--color-light-o-5); }
[x-color*="#light-o-6"] { color: var(--color-light-o-6); }
[x-color*="#light-o-7"] { color: var(--color-light-o-7); }
[x-color*="#light-o-8"] { color: var(--color-light-o-8); }
[x-color*="#light-o-9"] { color: var(--color-light-o-9); }
[x-color*="#dark-o-1"] { color: var(--color-dark-o-1); }
[x-color*="#dark-o-2"] { color: var(--color-dark-o-2); }
[x-color*="#dark-o-3"] { color: var(--color-dark-o-3); }
[x-color*="#dark-o-4"] { color: var(--color-dark-o-4); }
[x-color*="#dark-o-5"] { color: var(--color-dark-o-5); }
[x-color*="#dark-o-6"] { color: var(--color-dark-o-6); }
[x-color*="#dark-o-7"] { color: var(--color-dark-o-7); }
[x-color*="#dark-o-8"] { color: var(--color-dark-o-8); }
[x-color*="#dark-o-9"] { color: var(--color-dark-o-9); }

/*
** 보더 라인
*/
[x-line] { border-style: solid; }
[x-line$="dashed"] { border-style: dashed; }
[x-line$="dotted"] { border-style: dotted; }
[x-line$="double"] { border-style: double; }
[x-line$="groove"] { border-style: groove; }
[x-line$="outset"] { border-style: outset; }
[x-line$="ridge"] { border-style: ridge; }
[x-line^="3xs"] { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xs)); }
[x-line^="2xs"] { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xs)); }
[x-line^="xs"]  { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xs)); }
[x-line^="sm"]  { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-sm)); }
[x-line^="md"]  { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-md)); }
[x-line^="lg"]  { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-lg)); }
[x-line^="xl"]  { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xl)); }
[x-line^="2xl"] { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xl)); }
[x-line^="3xl"] { border-width: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xl)); }

/*
** 보더 라운드
*/
[x-radius="half"] { border-radius: 50%; }
[x-radius="max"]  { border-radius: 100rem; }
[x-radius="3xs"]  { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xs)); }
[x-radius="2xs"]  { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xs)); }
[x-radius="xs"]   { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xs)); }
[x-radius="sm"]   { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-sm)); }
[x-radius="md"]   { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-md)); }
[x-radius="lg"]   { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-lg)); }
[x-radius="xl"]   { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-xl)); }
[x-radius="2xl"]  { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-2xl)); }
[x-radius="3xl"]  { border-radius: calc(var(--font-size) * var(--clamp-zoom) * var(--zoom-3xl)); }

/*
** 텍스트 정렬
*/
[x-talign="start"] { text-align: start; }
[x-talign="center"] { text-align: center; }
[x-talign="end"] { text-align: end; }
[x-talign="justify"] { text-align: justify; }

/*
** 자체사이즈
*/
[x-size*="w05"]  { width: 05%; }
[x-size*="w10"]  { width: 10%; }
[x-size*="w15"]  { width: 15%; }
[x-size*="w20"]  { width: 20%; }
[x-size*="w25"]  { width: 25%; }
[x-size*="w30"]  { width: 30%; }
[x-size*="w35"]  { width: 35%; }
[x-size*="w40"]  { width: 40%; }
[x-size*="w45"]  { width: 45%; }
[x-size*="w50"]  { width: 50%; }
[x-size*="w55"]  { width: 55%; }
[x-size*="w60"]  { width: 60%; }
[x-size*="w65"]  { width: 65%; }
[x-size*="w70"]  { width: 70%; }
[x-size*="w75"]  { width: 75%; }
[x-size*="w80"]  { width: 80%; }
[x-size*="w85"]  { width: 85%; }
[x-size*="w90"]  { width: 90%; }
[x-size*="w95"]  { width: 95%; }
[x-size*="w100"] { width: 100%; }

[x-size*="wr05"]  { width: 05rem; }
[x-size*="wr10"]  { width: 10rem; }
[x-size*="wr15"]  { width: 15rem; }
[x-size*="wr20"]  { width: 20rem; }
[x-size*="wr25"]  { width: 25rem; }
[x-size*="wr30"]  { width: 30rem; }
[x-size*="wr35"]  { width: 35rem; }
[x-size*="wr40"]  { width: 40rem; }
[x-size*="wr45"]  { width: 45rem; }
[x-size*="wr50"]  { width: 50rem; }
[x-size*="wr55"]  { width: 55rem; }
[x-size*="wr60"]  { width: 60rem; }
[x-size*="wr65"]  { width: 65rem; }
[x-size*="wr70"]  { width: 70rem; }
[x-size*="wr75"]  { width: 75rem; }
[x-size*="wr80"]  { width: 80rem; }
[x-size*="wr85"]  { width: 85rem; }
[x-size*="wr90"]  { width: 90rem; }
[x-size*="wr95"]  { width: 95rem; }
[x-size*="wr100"] { width: 100rem; }

[x-size*="h05"]  { height: 05%; }
[x-size*="h10"]  { height: 10%; }
[x-size*="h15"]  { height: 15%; }
[x-size*="h20"]  { height: 20%; }
[x-size*="h25"]  { height: 25%; }
[x-size*="h30"]  { height: 30%; }
[x-size*="h35"]  { height: 35%; }
[x-size*="h40"]  { height: 40%; }
[x-size*="h45"]  { height: 45%; }
[x-size*="h50"]  { height: 50%; }
[x-size*="h55"]  { height: 55%; }
[x-size*="h60"]  { height: 60%; }
[x-size*="h65"]  { height: 65%; }
[x-size*="h70"]  { height: 70%; }
[x-size*="h75"]  { height: 75%; }
[x-size*="h80"]  { height: 80%; }
[x-size*="h85"]  { height: 85%; }
[x-size*="h90"]  { height: 90%; }
[x-size*="h95"]  { height: 95%; }
[x-size*="h100"] { height: 100%; }

[x-size*="hr05"]  { height: 05rem; }
[x-size*="hr10"]  { height: 10rem; }
[x-size*="hr15"]  { height: 15rem; }
[x-size*="hr20"]  { height: 20rem; }
[x-size*="hr25"]  { height: 25rem; }
[x-size*="hr30"]  { height: 30rem; }
[x-size*="hr35"]  { height: 35rem; }
[x-size*="hr40"]  { height: 40rem; }
[x-size*="hr45"]  { height: 45rem; }
[x-size*="hr50"]  { height: 50rem; }
[x-size*="hr55"]  { height: 55rem; }
[x-size*="hr60"]  { height: 60rem; }
[x-size*="hr65"]  { height: 65rem; }
[x-size*="hr70"]  { height: 70rem; }
[x-size*="hr75"]  { height: 75rem; }
[x-size*="hr80"]  { height: 80rem; }
[x-size*="hr85"]  { height: 85rem; }
[x-size*="hr90"]  { height: 90rem; }
[x-size*="hr95"]  { height: 95rem; }
[x-size*="hr100"] { height: 100rem; }

/*
** 스크롤바
*/
[x-scroll*="y"] {
    overflow-y: auto;
}