@charset "UTF-8";

[x-anime]{
    -webkit-animation-duration:var(--animate-duration);
    animation-duration:var(--animate-duration);
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
[x-anime$="|loop"]{
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
[x-anime$="|1"]{
    -webkit-animation-iteration-count:var(--animate-repeat);
    animation-iteration-count:var(--animate-repeat)
}
[x-anime$="|2"]{
    -webkit-animation-iteration-count:calc(var(--animate-repeat)*2);
    animation-iteration-count:calc(var(--animate-repeat)*2)
}
[x-anime$="|3"]{
    -webkit-animation-iteration-count:calc(var(--animate-repeat)*3);
    animation-iteration-count:calc(var(--animate-repeat)*3)
}
[x-anime*="-1s"]{
    -webkit-animation-delay:var(--animate-delay);
    animation-delay:var(--animate-delay)
}
[x-anime*="-2s"]{
    -webkit-animation-delay:calc(var(--animate-delay)*2);
    animation-delay:calc(var(--animate-delay)*2)
}
[x-anime*="-3s"]{
    -webkit-animation-delay:calc(var(--animate-delay)*3);
    animation-delay:calc(var(--animate-delay)*3)
}
[x-anime*="-faster"]{
    -webkit-animation-duration:calc(var(--animate-duration)/2);
    animation-duration:calc(var(--animate-duration)/2)
}
[x-anime*="-fast"]{
    -webkit-animation-duration:calc(var(--animate-duration)*0.8);
    animation-duration:calc(var(--animate-duration)*0.8)
}
[x-anime*="-slow"]{
    -webkit-animation-duration:calc(var(--animate-duration)*2);
    animation-duration:calc(var(--animate-duration)*2)
}
[x-anime*="-slower"]{
    -webkit-animation-duration:calc(var(--animate-duration)*3);
    animation-duration:calc(var(--animate-duration)*3)
}
@media (prefers-reduced-motion:reduce),print{
    [x-anime]{
        -webkit-animation-duration:1ms!important;
        animation-duration:1ms!important;
        -webkit-transition-duration:1ms!important;
        transition-duration:1ms!important;
        -webkit-animation-iteration-count:1!important;
        animation-iteration-count:1!important
    }
    [x-anime][class*=Out]{
        opacity:0
    }
}
@-webkit-keyframes x-anime-flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:.8
    }
}
@keyframes x-anime-flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:.8
    }
}
[x-anime^="flash"]:not([x-anime*=":hover"]),
[x-anime^="flash"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-flash;
    animation-name:x-anime-flash
}
@-webkit-keyframes x-anime-pulse{
    0%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    50%{
        -webkit-transform:scale3d(1.05,1.05,1.05);
        transform:scale3d(1.05,1.05,1.05)
    }
    to{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}
@keyframes x-anime-pulse{
    0%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    50%{
        -webkit-transform:scale3d(1.05,1.05,1.05);
        transform:scale3d(1.05,1.05,1.05)
    }
    to{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}
[x-anime^="pulse"]:not([x-anime*=":hover"]),
[x-anime^="pulse"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-pulse;
    animation-name:x-anime-pulse;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out
}
@-webkit-keyframes x-anime-shakeX{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
@keyframes x-anime-shakeX{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
[x-anime^="shakeX"]:not([x-anime*=":hover"]),
[x-anime^="shakeX"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-shakeX;
    animation-name:x-anime-shakeX
}
@-webkit-keyframes x-anime-shakeY{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(0,-10px,0);
        transform:translate3d(0,-10px,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translate3d(0,10px,0)
    }
}
@keyframes x-anime-shakeY{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(0,-10px,0);
        transform:translate3d(0,-10px,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translate3d(0,10px,0)
    }
}
[x-anime^="shakeY"]:not([x-anime*=":hover"]),
[x-anime^="shakeY"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-shakeY;
    animation-name:x-anime-shakeY
}
@-webkit-keyframes x-anime-headShake{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    6.5%{
        -webkit-transform:translateX(-6px) rotateY(-9deg);
        transform:translateX(-6px) rotateY(-9deg)
    }
    18.5%{
        -webkit-transform:translateX(5px) rotateY(7deg);
        transform:translateX(5px) rotateY(7deg)
    }
    31.5%{
        -webkit-transform:translateX(-3px) rotateY(-5deg);
        transform:translateX(-3px) rotateY(-5deg)
    }
    43.5%{
        -webkit-transform:translateX(2px) rotateY(3deg);
        transform:translateX(2px) rotateY(3deg)
    }
    50%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes x-anime-headShake{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    6.5%{
        -webkit-transform:translateX(-6px) rotateY(-9deg);
        transform:translateX(-6px) rotateY(-9deg)
    }
    18.5%{
        -webkit-transform:translateX(5px) rotateY(7deg);
        transform:translateX(5px) rotateY(7deg)
    }
    31.5%{
        -webkit-transform:translateX(-3px) rotateY(-5deg);
        transform:translateX(-3px) rotateY(-5deg)
    }
    43.5%{
        -webkit-transform:translateX(2px) rotateY(3deg);
        transform:translateX(2px) rotateY(3deg)
    }
    50%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
[x-anime^="headShake"]:not([x-anime*=":hover"]),
[x-anime^="headShake"][x-anime*=":hover"]:hover{
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-name:x-anime-headShake;
    animation-name:x-anime-headShake
}
@-webkit-keyframes x-anime-fadeIn{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes x-anime-fadeIn{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
[x-anime^="fadeIn"]:not([x-anime*=":hover"]),
[x-anime^="fadeIn"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeIn;
    animation-name:x-anime-fadeIn
}
@-webkit-keyframes x-anime-fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move) * -1),0);
        transform:translate3d(0,calc(var(--animate-move) * -1),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move) * -1),0);
        transform:translate3d(0,calc(var(--animate-move) * -1),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInDown"]:not([x-anime*=":hover"]),
[x-anime^="fadeInDown"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInDown;
    animation-name:x-anime-fadeInDown
}
@-webkit-keyframes x-anime-fadeInDownBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move-max) * -1),0);
        transform:translate3d(0,calc(var(--animate-move-max) * -1),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInDownBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move-max) * -1),0);
        transform:translate3d(0,calc(var(--animate-move-max) * -1),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInDownBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeInDownBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInDownBig;
    animation-name:x-anime-fadeInDownBig
}
@-webkit-keyframes x-anime-fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0);
        transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0);
        transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInLeft"]:not([x-anime*=":hover"]),
[x-anime^="fadeInLeft"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInLeft;
    animation-name:x-anime-fadeInLeft
}
@-webkit-keyframes x-anime-fadeInLeftBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move-max) * -1),0,0);
        transform:translate3d(calc(var(--animate-move-max) * -1),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInLeftBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move-max) * -1),0,0);
        transform:translate3d(calc(var(--animate-move-max) * -1),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInLeftBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeInLeftBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInLeftBig;
    animation-name:x-anime-fadeInLeftBig
}
@-webkit-keyframes x-anime-fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2),0,0);
        transform:translate3d(calc(var(--animate-move) / 2),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2),0,0);
        transform:translate3d(calc(var(--animate-move) / 2),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInRight"]:not([x-anime*=":hover"]),
[x-anime^="fadeInRight"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInRight;
    animation-name:x-anime-fadeInRight
}
@-webkit-keyframes x-anime-fadeInRightBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(var(--animate-move-max),0,0);
        transform:translate3d(var(--animate-move-max),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInRightBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(var(--animate-move-max),0,0);
        transform:translate3d(var(--animate-move-max),0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInRightBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeInRightBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInRightBig;
    animation-name:x-anime-fadeInRightBig
}
@-webkit-keyframes x-anime-fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move),0);
        transform:translate3d(0,var(--animate-move),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move),0);
        transform:translate3d(0,var(--animate-move),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInUp"]:not([x-anime*=":hover"]),
[x-anime^="fadeInUp"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInUp;
    animation-name:x-anime-fadeInUp
}
@-webkit-keyframes x-anime-fadeInUpBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move-max),0);
        transform:translate3d(0,var(--animate-move-max),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes x-anime-fadeInUpBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move-max),0);
        transform:translate3d(0,var(--animate-move-max),0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
[x-anime^="fadeInUpBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeInUpBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeInUpBig;
    animation-name:x-anime-fadeInUpBig
}
@-webkit-keyframes x-anime-fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
@keyframes x-anime-fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
[x-anime^="fadeOut"]:not([x-anime*=":hover"]),
[x-anime^="fadeOut"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOut;
    animation-name:x-anime-fadeOut
}
@-webkit-keyframes x-anime-fadeOutDown{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move),0);
        transform:translate3d(0,var(--animate-move),0)
    }
}
@keyframes x-anime-fadeOutDown{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move),0);
        transform:translate3d(0,var(--animate-move),0)
    }
}
[x-anime^="fadeOutDown"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutDown"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutDown;
    animation-name:x-anime-fadeOutDown
}
@-webkit-keyframes x-anime-fadeOutDownBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move-max),0);
        transform:translate3d(0,var(--animate-move-max),0)
    }
}
@keyframes x-anime-fadeOutDownBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,var(--animate-move-max),0);
        transform:translate3d(0,var(--animate-move-max),0)
    }
}
[x-anime^="fadeOutDownBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutDownBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutDownBig;
    animation-name:x-anime-fadeOutDownBig
}
@-webkit-keyframes x-anime-fadeOutLeft{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0);
        transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0)
    }
}
@keyframes x-anime-fadeOutLeft{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0);
        transform:translate3d(calc(var(--animate-move) / 2 * -1),0,0)
    }
}
[x-anime^="fadeOutLeft"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutLeft"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutLeft;
    animation-name:x-anime-fadeOutLeft
}
@-webkit-keyframes x-anime-fadeOutLeftBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move-max) * -1),0,0);
        transform:translate3d(calc(var(--animate-move-max) * -1),0,0)
    }
}
@keyframes x-anime-fadeOutLeftBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move-max) * -1),0,0);
        transform:translate3d(calc(var(--animate-move-max) * -1),0,0)
    }
}
[x-anime^="fadeOutLeftBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutLeftBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutLeftBig;
    animation-name:x-anime-fadeOutLeftBig
}
@-webkit-keyframes x-anime-fadeOutRight{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2),0,0);
        transform:translate3d(calc(var(--animate-move) / 2),0,0)
    }
}
@keyframes x-anime-fadeOutRight{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(calc(var(--animate-move) / 2),0,0);
        transform:translate3d(calc(var(--animate-move) / 2),0,0)
    }
}
[x-anime^="fadeOutRight"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutRight"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutRight;
    animation-name:x-anime-fadeOutRight
}
@-webkit-keyframes x-anime-fadeOutRightBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(var(--animate-move-max),0,0);
        transform:translate3d(var(--animate-move-max),0,0)
    }
}
@keyframes x-anime-fadeOutRightBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(var(--animate-move-max),0,0);
        transform:translate3d(var(--animate-move-max),0,0)
    }
}
[x-anime^="fadeOutRightBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutRightBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutRightBig;
    animation-name:x-anime-fadeOutRightBig
}
@-webkit-keyframes x-anime-fadeOutUp{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move) * -1),0);
        transform:translate3d(0,calc(var(--animate-move) * -1),0)
    }
}
@keyframes x-anime-fadeOutUp{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move) * -1),0);
        transform:translate3d(0,calc(var(--animate-move) * -1),0)
    }
}
[x-anime^="fadeOutUp"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutUp"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutUp;
    animation-name:x-anime-fadeOutUp
}
@-webkit-keyframes x-anime-fadeOutUpBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move-max) * -1),0);
        transform:translate3d(0,calc(var(--animate-move-max) * -1),0)
    }
}
@keyframes x-anime-fadeOutUpBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,calc(var(--animate-move-max) * -1),0);
        transform:translate3d(0,calc(var(--animate-move-max) * -1),0)
    }
}
[x-anime^="fadeOutUpBig"]:not([x-anime*=":hover"]),
[x-anime^="fadeOutUpBig"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-fadeOutUpBig;
    animation-name:x-anime-fadeOutUpBig
}
@-webkit-keyframes x-anime-flip3d{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(-1turn);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(-1turn);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-190deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-190deg);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    50%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-170deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-170deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);
        transform:perspective(var(--animate-perspective)) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(0deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(0deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
}
@keyframes x-anime-flip3d{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(-1turn);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(-1turn);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-190deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-190deg);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    50%{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-170deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(150px) rotateY(-170deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);
        transform:perspective(var(--animate-perspective)) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(0deg);
        transform:perspective(var(--animate-perspective)) scaleX(1) translateZ(0) rotateY(0deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
}
[x-anime][x-anime^="flip3d"]:not([x-anime*=":hover"]),
[x-anime][x-anime^="flip3d"][x-anime*=":hover"]:hover{
    -webkit-backface-visibility:visible;
    backface-visibility:visible;
    -webkit-animation-name:x-anime-flip3d;
    animation-name:x-anime-flip3d
}
@-webkit-keyframes x-anime-flipInX{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(90deg);
        transform:perspective(var(--animate-perspective)) rotateX(90deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    60%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(10deg);
        transform:perspective(var(--animate-perspective)) rotateX(10deg);
        opacity:1
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-5deg);
        transform:perspective(var(--animate-perspective)) rotateX(-5deg)
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
}
@keyframes x-anime-flipInX{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(90deg);
        transform:perspective(var(--animate-perspective)) rotateX(90deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    60%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(10deg);
        transform:perspective(var(--animate-perspective)) rotateX(10deg);
        opacity:1
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-5deg);
        transform:perspective(var(--animate-perspective)) rotateX(-5deg)
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
}
[x-anime^="flipInX"]:not([x-anime*=":hover"]),
[x-anime^="flipInX"][x-anime*=":hover"]:hover{
    -webkit-backface-visibility:visible!important;
    backface-visibility:visible!important;
    -webkit-animation-name:x-anime-flipInX;
    animation-name:x-anime-flipInX
}
@-webkit-keyframes x-anime-flipInY{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(90deg);
        transform:perspective(var(--animate-perspective)) rotateY(90deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-20deg);
        transform:perspective(var(--animate-perspective)) rotateY(-20deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    60%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(10deg);
        transform:perspective(var(--animate-perspective)) rotateY(10deg);
        opacity:1
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-5deg);
        transform:perspective(var(--animate-perspective)) rotateY(-5deg)
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
}
@keyframes x-anime-flipInY{
    0%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(90deg);
        transform:perspective(var(--animate-perspective)) rotateY(90deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0
    }
    40%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-20deg);
        transform:perspective(var(--animate-perspective)) rotateY(-20deg);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    60%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(10deg);
        transform:perspective(var(--animate-perspective)) rotateY(10deg);
        opacity:1
    }
    80%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-5deg);
        transform:perspective(var(--animate-perspective)) rotateY(-5deg)
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
}
[x-anime^="flipInY"]:not([x-anime*=":hover"]),
[x-anime^="flipInY"][x-anime*=":hover"]:hover{
    -webkit-backface-visibility:visible!important;
    backface-visibility:visible!important;
    -webkit-animation-name:x-anime-flipInY;
    animation-name:x-anime-flipInY
}
@-webkit-keyframes x-anime-flipOutX{
    0%{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
    30%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        opacity:1
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(90deg);
        transform:perspective(var(--animate-perspective)) rotateX(90deg);
        opacity:0
    }
}
@keyframes x-anime-flipOutX{
    0%{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
    30%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        transform:perspective(var(--animate-perspective)) rotateX(-20deg);
        opacity:1
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) rotateX(90deg);
        transform:perspective(var(--animate-perspective)) rotateX(90deg);
        opacity:0
    }
}
[x-anime^="flipOutX"]:not([x-anime*=":hover"]),
[x-anime^="flipOutX"][x-anime*=":hover"]:hover{
    -webkit-animation-duration:.75s;
    animation-duration:.75s;
    -webkit-animation-duration:calc(var(--animate-duration)*0.75);
    animation-duration:calc(var(--animate-duration)*0.75);
    -webkit-animation-name:x-anime-flipOutX;
    animation-name:x-anime-flipOutX;
    -webkit-backface-visibility:visible!important;
    backface-visibility:visible!important
}
@-webkit-keyframes x-anime-flipOutY{
    0%{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
    30%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-15deg);
        transform:perspective(var(--animate-perspective)) rotateY(-15deg);
        opacity:1
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(90deg);
        transform:perspective(var(--animate-perspective)) rotateY(90deg);
        opacity:0
    }
}
@keyframes x-anime-flipOutY{
    0%{
        -webkit-transform:perspective(var(--animate-perspective));
        transform:perspective(var(--animate-perspective))
    }
    30%{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(-15deg);
        transform:perspective(var(--animate-perspective)) rotateY(-15deg);
        opacity:1
    }
    to{
        -webkit-transform:perspective(var(--animate-perspective)) rotateY(90deg);
        transform:perspective(var(--animate-perspective)) rotateY(90deg);
        opacity:0
    }
}
[x-anime^="flipOutY"]:not([x-anime*=":hover"]),
[x-anime^="flipOutY"][x-anime*=":hover"]:hover{
    -webkit-animation-duration:.75s;
    animation-duration:.75s;
    -webkit-animation-duration:calc(var(--animate-duration)*0.75);
    animation-duration:calc(var(--animate-duration)*0.75);
    -webkit-backface-visibility:visible!important;
    backface-visibility:visible!important;
    -webkit-animation-name:x-anime-flipOutY;
    animation-name:x-anime-flipOutY
}
@-webkit-keyframes x-anime-zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom));
        transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom))
    }
    50%{
        opacity:1
    }
}
@keyframes x-anime-zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom));
        transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom))
    }
    50%{
        opacity:1
    }
}
[x-anime^="zoomIn"]:not([x-anime*=":hover"]),
[x-anime^="zoomIn"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-zoomIn;
    animation-name:x-anime-zoomIn
}
@-webkit-keyframes x-anime-zoomOut{
    0%{
        opacity:1
    }
    50%{
        opacity:0;
        -webkit-transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom));
        transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom))
    }
    to{
        opacity:0
    }
}
@keyframes x-anime-zoomOut{
    0%{
        opacity:1
    }
    50%{
        opacity:0;
        -webkit-transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom));
        transform:scale3d(var(--animate-zoom),var(--animate-zoom),var(--animate-zoom))
    }
    to{
        opacity:0
    }
}
[x-anime^="zoomOut"]:not([x-anime*=":hover"]),
[x-anime^="zoomOut"][x-anime*=":hover"]:hover{
    -webkit-animation-name:x-anime-zoomOut;
    animation-name:x-anime-zoomOut
}